<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title></title>
  <style>

    /* TEXT */
    .big{
    font-size: 3em;
    }
    .medium{
    font-size: 1.5em;
    }
    .bold{
    font-weight: bold;
    }
    /* MARGIN */
    .top-space{
    margin-top: 1.5em;
    }
    .no-margin{
    margin: 0px !important;
    }
    /* COLORS */
    .custom-purple{
      background-color: #7c00fa;
    }
    .custom-purple-text{
      color: #7c00fa !important;
    }
  </style>
</head>
<body>
  <%= yield %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
